* {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.hero-container {
  background-color: #1F2937;
  color: #F9FAF8;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 80px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 80px;
}

.logo {
  font-size: 24px;
}

.links {
  display: flex;
  gap: 20px;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
}

.subtext,
a {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 10px;
}

button {
  width: 150px;
  height: 40px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 7px;
}

.image-container {
  background-color: lightslategray;
  width: 600px;
  height: 230px;
  text-align: center;
  line-height: 230px;


}